@page "/RoomPage"
@using Microsoft.Extensions.Logging
@using BlazorApp1.Shared.Quiz.Entities.Concrete
@inject HttpClient Client
@inject ILogger<RoomPage> _logger
@inject NavigationManager Navigation

<h3>Room</h3>

<div id="roomInfo">
    Name:<br/>
    <p>@Room?.Name</p>
    Owner:<br/>
    <p>@Room?.Owner.Username</p>
    Settings:<br/>
    <p>@JsonSerializer.Serialize(Room?.Quiz?.QuizSettings)</p>
</div>

<button class="btn btn-primary" disabled="@(Room?.Owner.Id != Globals.Session?.Player.Id)" @onclick="EnterQuiz">Start Quiz</button>

@code {
    private Room? Room { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<Room>? res = await Client.GetFromJsonAsync<IEnumerable<Room>>("Quiz/GetRooms");
        if (res is not null)
        {
            Room = res.Single(x => x.Id == Globals.Session!.RoomId); // TODO
        }
    }

    private async Task EnterQuiz()
    {
    // HttpResponseMessage res1 = await Client.PostAsJsonAsync("Quiz/JoinRoom", new ReqJoinRoom(roomId, Password, Globals.Session!.Player.Id));
    // if (res1.IsSuccessStatusCode)
    // {
        if (Room!.Owner.Id == Globals.Session!.Player.Id)
        {
            Navigation.NavigateTo("/QuizPage");
    // todo send message to other players in room that room is entering quiz
        }

    // }
    }

}
