@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

<span id="@ElementId" style="display: inline-block; align-self: center;">@Text</span>

@* <style> *@
@*     .auto-resize-container { *@
@*         width: 100%; *@
@*         height: 100%; *@
@*         display: flex; *@
@*         /*align-items: center;*/ *@
@*         overflow: hidden; *@
@*     } *@
@* *@
@*     /* Reset list-specific spacing when inside li */ *@
@*         li .auto-resize-container { *@
@*             margin: 0; *@
@*             padding: 0; *@
@*         } *@
@* </style> *@
