@using EMQ.Shared.Quiz.Entities.Concrete
@inject HttpClient _client

@if (!IsReadOnly) // meh hack
{
    <button type="button" class="btn btn-primary" @onclick="@(() => editBotPlayerModalRef.Show())">Edit bot</button>
}

<GenericModal @ref="@editBotPlayerModalRef"
              Title="Bot details"
              Size="@Blazorise.ModalSize.Large"
              OkAction="SendEditBotReq">
    <EditBotPlayerComponent Model="Model" IsReadOnly="IsReadOnly"></EditBotPlayerComponent>
</GenericModal>

@code {

    [Parameter]
    public Player? Model { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; }

    public GenericModal editBotPlayerModalRef { get; set; } = null!;

    private async Task SendEditBotReq()
    {
        if (IsReadOnly)
        {
            editBotPlayerModalRef.Hide();
            return;
        }

        HttpResponseMessage res = await _client.PostAsJsonAsync("Quiz/EditBotPlayer", Model);
        if (res.IsSuccessStatusCode)
        {
            editBotPlayerModalRef.Hide();
        }
    }

    public void Show()
    {
        editBotPlayerModalRef.Show();
    }

}
