@* setting z-index seems to prevent the modal closing animation from playing sometimes, but we have to do it *@
<Blazorise.Modal @ref="_modalRef" style="z-index: 7000" RenderMode="Blazorise.ModalRenderMode.LazyReload">
    <Blazorise.ModalContent Centered="true" Scrollable="true" Size="Size">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <Blazorise.ModalHeader>
                <Blazorise.ModalTitle>@Title</Blazorise.ModalTitle>
            </Blazorise.ModalHeader>
        }
        <Blazorise.ModalBody>
            @ChildContent
        </Blazorise.ModalBody>
        <Blazorise.ModalFooter>
            <button type="button" class="btn btn-secondary" @onclick="@(() => { _modalRef?.Hide(); })">
                @if (OkAction != null)
                {
                    <span>Cancel</span>
                }
                else
                {
                    <span>Close</span>
                }
            </button>
            @if (OkAction != null)
            {
                <button type="button" class="btn btn-primary"
                        @onclick="@(async () => { { await OkAction(); } })">
                    OK
                </button>
            }
        </Blazorise.ModalFooter>
    </Blazorise.ModalContent>
</Blazorise.Modal>
