* {
    box-sizing: border-box;
}

.libraryStatsRow {
    display: flex;
}

.libraryStatsColumn {
    flex: 50%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.10);
}
