td > div {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::deep tr {
    border-bottom: 1px solid rgb(73, 80, 87);
}

::deep td {
    padding: 8px !important;
}

.grid ::deep table {
    min-width: 100%;
}

/* Fix height and enable scrolling */
.grid {
    /*height: 75vh;*/
    overflow-y: auto;
}

/*todo make this work*/
/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    /*background-color: #d8d8d8;*/
    outline: 1px solid gray;
    z-index: 1;
}
