@using EMQ.Client.Components
@inherits LayoutComponentBase
@inject NavigationManager _navigation

<PageTitle>EMQ</PageTitle>

<div class="page">
    <!--https://getbootstrap.com/docs/5.3/customize/color-modes/#javascript-->
    <div class="nav-item px-3 dropdown" style="padding: 2px; margin: 5px 12px 5px 5px;position: fixed; top: 0; right: 0; text-align: center;">
        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-label="Toggle theme (auto)">
            <span class="ms-2" id="bd-theme-text">Theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                    Light
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    Dark
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                    Auto
                </button>
            </li>
        </ul>
    </div>

    @if (SidebarPages.Contains(new Uri(_navigation.Uri).Segments.Last()))
    {
        <div class="sidebar" style="z-index: 30">
            <NavMenu/>
        </div>
    }

    <PlayerPreferencesComponent @ref="_playerPreferencesComponent"/>
    <button type="button" id="buttonPreferences" class="btn btn-primary"
            style="padding: 2px; margin: 5px; position: fixed; bottom: 0; right: 0; text-align: center; height: 40px;"
            @onclick="@(() => _playerPreferencesComponent!.OnclickButtonPreferences())">
        <span style="padding: 5px">Preferences</span>
    </button>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    public List<string> SidebarPages { get; set; } = new()
    {
        { "/" }, { "HotelPage" }, { "LibraryPage" }, { "ModPage" }, { "RegisterPage" }, { "ForgottenPasswordPage" },
    };

    private PlayerPreferencesComponent? _playerPreferencesComponent;
}
