@inherits LayoutComponentBase
@inject NavigationManager _navigation

<PageTitle>EMQ</PageTitle>

<div class="page">
    @if (SidebarPages.Contains(new Uri(_navigation.Uri).Segments.Last()))
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    public List<string> SidebarPages { get; set; } = new()
    {
        { "/" }, { "HotelPage" }, { "LibraryPage" }
    };
}
