.grid {
    overflow-x: auto;
}

.grid ::deep table {
    min-width: 100%;
}

::deep tr {
    border-bottom: 1px solid rgb(73, 80, 87);
}

::deep td {
    padding: 8px !important;
}

::deep div.paginator {
    flex-direction: row-reverse;
}

::deep nav[role=navigation] {
    margin-left: inherit !important;
    margin-right: auto;
}
