@page "/ErodlePage"
@using EMQ.Client.Components
@inject ClientUtils _clientUtils

@if (ClientState.Session != null)
{
    <ErodleComponent></ErodleComponent>
}
else
{
    <p>Please login in order to play Erodle.</p>
}

<br/>
<br/>

@code{

    protected override async Task OnInitializedAsync()
    {
        await _clientUtils.TryRestoreSession();
    }

}
