@page "/ForgottenPasswordPage"
@using EMQ.Shared.Auth.Entities.Concrete.Dto.Request
@using System.Net
@inject HttpClient _client
@inject NavigationManager _navigation
@inject ClientUtils _clientUtils

<h3>Reset forgotten password</h3>

@if (!Done)
{
    <EditForm Model="@Model" OnValidSubmit="@(() => SendForgottenPasswordReq(Model))">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <InputText id="email" type="email" @bind-Value="@Model.Email" style="margin: 5px; width: 200px;"></InputText>
        <label for="email">Email</label>
        <br/>

        <button type="submit" disabled="@(!Ready)" class="btn btn-primary">
            Submit
        </button>
    </EditForm>

    @StatusText
}
else
{
    <p>
        An email will be sent to the email address you've provided, if there is an account registered to that email. Please follow its instructions to continue.
    </p>
    <p>
        It might take a few minutes for it to show up in your inbox. Make sure to check your spam folder if you can't find it.
    </p>
}

@code {

    private ReqForgottenPassword Model { get; } = new("");

    private string StatusText { get; set; } = "";

    private bool Ready { get; set; } = true;

    private bool Done { get; set; } = false;

    private async Task SendForgottenPasswordReq(ReqForgottenPassword model)
    {
        Ready = false;
        StatusText = "Processing...";
        StateHasChanged();

        var req = new ReqForgottenPassword(model.Email);
        var res = await _client.PostAsJsonAsync("Auth/ForgottenPassword", req);
        if (res.IsSuccessStatusCode)
        {
            StatusText = "";
            model.Email = "";
            Done = true;
            StateHasChanged();
        }
        else
        {
            switch (res.StatusCode)
            {
                case HttpStatusCode.TooManyRequests:
                    StatusText = "You have been rate-limited. Try again in a day.";
                    break;
                default:
                    StatusText = "Something went wrong when resetting forgotten password.";
                    break;
            }
        }

        Ready = true;
        StateHasChanged();
    }

}
