@page "/"
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using EMQ.Shared.Core.UI
@using EMQ.Client.Components
@using EMQ.Shared.Auth.Entities.Concrete
@using EMQ.Shared.Core
@inject NavigationManager _navigation
@inject HttpClient _client
@inject ILogger<Index> _logger
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager
@* @inject PlayerPreferencesComponent _playerPreferencesComponent *@

@* <a href="MethodCallStatistics">Method Call Statistics</a> *@
@* <a href="RenderTimeStatistics">Render Time Statistics</a> *@

<h1>@Constants.WebsiteName</h1>

<div>
    Moved to <a class="link-primary" href="https://erogemusicquiz.com">https://erogemusicquiz.com</a>
</div>
