@page "/PyramidPage"
@using Microsoft.Extensions.Logging
@inject IJSRuntime _jsRuntime
@inject ILogger<QuizPage> _logger
@inject HttpClient _client
@inject NavigationManager _navigation
@inject ClientUtils _clientUtils
@inject ClientConnectionManager _clientConnectionManager

@* <h5>PyramidPage</h5> *@

@if (Room != null &&
     Room.TreasureRooms.Any(x => x.Any(y => y.Treasures.Any(z => z.ValidSource.Value.Any()))))
{
    <TreasureRoomComponent @ref="_treasureRoomComponentRef" Room="Room" Countdown="Countdown"></TreasureRoomComponent>
}
